<div class="page-header">
  <h1>
    {{ company.companies.name }}
    <a href="/companies/{{ company.companies._id }}" class="btn btn-default">
      <span class="glyphicon glyphicon-plus"></span>
      Edit Company
    </a>
  </h1>
</div>

<!-- loading message -->
<div class="jumbotron text-center" ng-show="user.processing">
  <span class="glyphicon glyphicon-repeat spinner"></span>
  <p>Loading Company Profile</p>
</div>

<form class="form-horizontal">
  <div class="form-group">
    <label class="col-sm-2 control-label">Company ID</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" ng-value="company.companies._id" disabled>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Name</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" ng-value="company.companies.name" disabled>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Address</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" ng-value="company.companies.address" disabled>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">City</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" ng-value="company.companies.city" disabled>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">State</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" ng-value="company.companies.state" disabled>
    </div>
  </div>
</form>
