<div class="page-header">
  <h1>
    Jobsite
    <a href="/jobsites/create" class="btn btn-default">
      <span class="glyphicon glyphicon-plus"></span>
      New Jobsite
    </a>
  </h1>
</div>

<!-- loading message -->
<div class="jumbotron text-center" ng-show="jobsite.processing">
  <span class="glyphicon glyphicon-repeat spinner"></span>
  <p>Loading Jobsites...</p>
</div>

<div class="section-header" ng-if="jobsite.jobsites.length < 1">
  <h3>I looks like you've registered no jobsites. Click New Jobsite above to begin.</h3>
</div>
<table class="table table-bordered table-striped" ng-show="jobsite.jobsites.length">
  <thead>
    <tr>
      <th>_id</th>
      <th>Name</th>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th class="col-sm-2"></th>
    </tr>
  </thead>
  <tbody>
    <!-- loop over the jobsites -->
    <tr ng-repeat="job in jobsite.jobsites">
      <td>{{ job._id }}</td>
      <td>{{ job.name }}</td>
      <td>{{ job.location.address }}</td>
      <td>{{ job.location.city }}</td>
      <td>{{ job.location.state }}</td>
      <td>
        <a ng-href="/jobsites/{{ job._id }}" class="btn btn-primary col-sm-6">Edit</a>
        <a href="#" ng-click="jobsite.deleteJobsite(job._id)" class="btn btn-danger col-sm-6">Delete</a>
      </td>
    </tr>
  </tbody>
</table>

<div class="row show-hide-message">
  <div class="col-sm-12">
    <div class="alert alert-info" ng-if="jobsite.message">
      {{ jobsite.message }}
    </div>
  </div>
</div>
