<div class="page-header">
  <h1>{{ report.jobsite.name }} Reports</h1>
</div>

<div class="section-header" ng-if="!report.reports">
  <h3>No reports are compiled for this jobsite yet.</h3>
</div>
<div class="row">
  <div class="col-sm-6" ng-repeat-start="rep in report.reports">
    <div class="thumbnail shadowed" ng-if="rep.statistics.length">
      <div class="caption">
        <h3>Statistics</h3>
        <ul class="list-group" ng-repeat="stat in rep.statistics">
          <li class="list-group-item">{{ stat }}</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-sm-6" ng-repeat-end>
    <div class="thumbnail shadowed" ng-if="rep.recommendations.length">
      <div class="caption">
        <h3>Recommendations</h3>
        <ul class="list-group" ng-repeat="rec in rep.recommendations">
          <li class="list-group-item">{{ rec }}</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6" ng-if="rep.type == 'bar'" ng-repeat-start="rep in report.reports">
    <div class="thumbnail shadowed">
      <div class="caption">
        <h3>{{ rep.name }}</h3>
        <canvas id="_{{ rep._id }}"></canvas>
      </div>
    </div>
  </div>
  <div class="col-sm-6" ng-if="rep.type == 'line'" ng-repeat-end>
    <div class="thumbnail shadowed">
      <div class="caption">
        <h3>{{ rep.name }}</h3>
        <canvas id="_{{ rep._id }}"></canvas>
      </div>
    </div>
  </div>
</div>
