<div class="page-header">
  <h1>{{ report.jobsite.name }} Reports</h1>
</div>

<div class="row">
  <div class="col-sm-6" ng-repeat-start="rep in report.reports">
    <div class="thumbnail shadowed">
      <div class="caption">
        <h3>Statistics</h3 ng-if="rep.statistics.length">
        <ul class="list-group" ng-repeat="stat in rep.statistics">
          <li class="list-group-item">{{ stat }}</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-sm-6" ng-repeat-end>
    <div class="thumbnail shadowed">
      <div class="caption">
        <h3>Recommendations</h3 ng-if="rep.recommendations.length">
        <ul class="list-group" ng-repeat="rec in rep.recommendations">
          <li class="list-group-item">{{ rec }}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
