<div class="page-header">
  <h1 ng-if="jobsite.type == 'create'">Create Jobsite</h1>
  <h1 ng-if="jobsite.type == 'edit'">Edit Jobsite</h1>
</div>

<form class="form-horizontal" ng-submit="jobsite.saveJobsite()">
  <div class="form-group">
    <label class="col-sm-2 control-label">Company ID</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" ng-model="jobsite.jobsite.company_id" placeholder="{{ jobsite.jobsite.company_id }}" ng-value="jobsite.jobsite.company_id" ng-init="jobsite.jobsite.company_id" disabled>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Name</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" ng-model="jobsite.jobsite.name" required>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Address</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" ng-model="jobsite.jobsite.location.address" required>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">City</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" ng-model="jobsite.jobsite.location.city" required>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">State</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" ng-model="jobsite.jobsite.location.state" required>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-6">
      <button type="submit" class="btn btn-success btn-lg btn-block" ng-if="jobsite.type == 'create'">Create Jobsite</button>
      <button type="submit" class="btn btn-success btn-lg btn-block" ng-if="jobsite.type == 'edit'">Edit Jobsite</button>
    </div>
  </div>
</form>

<div class="row show-hide-message" ng-show="jobsite.message">
  <div class="col-sm-6 col-sm-offset-2">
    <div class="alert alert-info">
      {{ jobsite.message }}
    </div>
  </div>
</div>
