<div class="jumbotron text-center">
  <h1>Welcome to ItusOne's Web Application</h1>
  <h2>This application is used to monitor current workforce, see actionable productivity data,
    and increase the overall safety of your daily operations</h2>
  <a href="/login">
    <button class="btn btn-primary">
      <span>Login</span>
    </button>
  </a>
  <div class="row">
    <h5>New to ItusOne? Register here</h5>
    <a href="/register/company">
      <button class="btn btn-success">
        <span>Register</span>
      </button>
    </a>
  </div>
</div>
